@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

ul { list-style: none; }
a { text-decoration: none; color: black;}
body {
   font-family: 'Dosis', sans-serif;
}
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
    background-color: #1e1e1e;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #F5F5DC;
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  width: 100%; /* Establece el ancho máximo del cuerpo */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Estilos del logotipo */
.logo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Estilos de la barra de navegación */
nav {
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 10px;
}

nav .logo {
  position: absolute;
  left: 0;
  top: 75%;
  transform: translateY(-50%);
}

/* Estilos de los enlaces en el hover */
.links:hover {
  background: linear-gradient(90deg, #EBF5FB, #3498DB, #21618C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.svg1{
  background-color:#F5F5DC;
  padding:0px;
  margin:0px;
}
.svg2{
  background-color:#F5F5DC;
  margin-top:-4px;
}
/* Estilos del contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
}

/* Estilos de la sección hero */
section#hero {
  text-align: center;
  padding: 50px 0;
  align-items: center;
  width: 100vw;
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  text-decoration: none;
  margin: 0; /* Quita cualquier margen */
  padding: 0; 
}

section#hero h1 {
  margin-bottom: 20px;
}

section#hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

section#hero .btn:hover {
  background-color: #01ffac;
}

/* Estilos de la sección de servicios */
section#services {
  background-color: #F5F5DC;
  padding: 50px 0;
  color: #333333;
  position: relative;
  bottom: 4px;
}

section#services h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.t1{
  width:900px;
}
.t2{
  text-align:center;
}
.precios{
  text-align:center;
}
section#services .service {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.precios{
  margin:0 auto;
  margin-bottom:5px;
  font-size:20px;
  text-align:center;
}




section#services h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

section#services p {
  font-size: 16px;
}

/* Estilos de la sección de portfolio */
section#portfolio h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.iw {
  font-size:50px;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(90deg, #EBF5FB, #3498DB, #21618C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section#portfolio .project {
  margin-bottom: 30px;
  text-align: center;
}

section#portfolio .project img {
  max-width: 100%;
  margin-bottom: 10px;
}

.container1 {
  display: flex;
  justify-content: space-between;
}
.packages {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.package-card {
  flex: 1;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 30%; /* Ancho de cada paquete */
  margin: 0 10px; /* Espacio entre los paquetes */
}
.package-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.package-card .price {
  font-size: 28px;
  color: #0056b3;
  margin-bottom: 20px;
}
.package-card .features {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.package-card .features li {
  margin-bottom: 8px;
}
/* Estilos de la sección de contacto */
section#contact {
  background-color: #CCCCCC;
  color: #fff;
  position: relative;
  bottom: 5px;
}

section#contact h2 {
  text-align: center;
  position: relative;
  bottom: 60px;
  font-size: 24px;
  margin-bottom: 30px;
}

#contact {
  background-color: #f2f2f2;
}

section#contact input,
section#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

section#contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

section#contact button:hover {
  background-color: #0056b3;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Estilos del botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

/* Estilos para el menú responsive */



@media (max-width: 768px) {

  
 
  .container1 {
    flex-direction: column; /* Apilamos los paquetes uno encima del otro */
  }
  .package-card {
    width: 80%; /* Cambiamos el ancho para que ocupen todo el espacio disponible */
    margin: 10px auto; /* Agregamos margen superior e inferior para separar los paquetes */
  }

}

@media (max-width: 480px) {


  .logo {
    display: block;
    margin-bottom: 10px;
  }


  .svg1{
    position:relative;
    bottom:1px;
  }
}
